.box {
	  min-height: 50px;
	  padding: 5px;
	  margin: 5px;
	  font-weight: 800;
	  color: #fff;
	}
	

	.blue {
	  background: rgb(0, 47, 255);
	}
	

	.orange {
	  background: rgb(153, 54, 51);
	}
	

	.red {
	  background: rgb(158, 31, 69);
	}
